In [134]:
import pandas as pd

In [135]:
# first line is empty and header is at second row. 1st line is 0th row and 2nd line is 1st row
liga=pd.read_csv('C:\\Users\\VMuvvala\\Desktop\\GL\\Laliga.csv',header=1)

In [136]:
liga.head(20)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2

In [137]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.
liga=liga.replace(to_replace="-",value='0',regex=False)
#df.replace(to_replace ='[nN]ew', value = 'New_', regex = True)

In [138]:
liga.head(20)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2

In [139]:
# use lambda function to split values like 1930-1931
# use debut and Since?lastApp
# below gives started after / in 1930 and ended before/in 1980
#print(liga[(liga['Debut'].apply(lambda x:int(x.split('-')[0])) >= 1930) & 
#           (liga['Since/LastApp'].apply(lambda x: (int(x.split('-')[0]) + 1) if len(x.split('-')) > 1 else int(x.split('-')[0]))  <= 1980)]['Team'].unique())

In [140]:
#Print all the teams which have started playing between 1930-1980
# started playing between 1930 and 1980
# if the value is 1930-1931 then it is taken lower boundary as 1930 and upper boundary as 1931
# if it is 1930 then lower and upper boundary are same
print(liga[(liga['Debut'].apply(lambda x:int(x.split('-')[0])) >= 1930) & 
           (liga['Debut'].apply(lambda x: (int(x.split('-')[0]) + 1) if len(x.split('-')) > 1 else int(x.split('-')[0]))  <= 1980)]['Team'].unique())

['Valencia' 'Sevilla' 'Zaragoza' 'Real Betis' 'Deportivo La Coruna'
 'Celta Vigo' 'Valladolid' 'Sporting Gijon' 'Osasuna' 'Malaga' 'Oviedo'
 'Mallorca' 'Las Palmas' 'Granada' 'Rayo Vallecano' 'Elche' 'Hercules'
 'Tenerife' 'Murcia' 'Alaves' 'Levante' 'Salamanca' 'Sabadell' 'Cadiz'
 'Castellon' 'Cordoba' 'Recreativo' 'Burgos CF' 'Pontevedra' 'Gimnastic'
 'Alcoyano' 'Jaen' 'AD Almeria' 'Lleida' 'Condal' 'Atletico Tetuan'
 'Cultural Leonesa']

In [141]:
#Print the list of teams which came Top 5 in terms of points
# first convert Points column to int.
liga['Points']=liga['Points'].astype(int)
liga_sorted=liga.sort_values(by='Points', inplace=False,ascending=False)
print(liga_sorted['Team'].head(5))

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [142]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, 
#find the team which has maximum and minimum goal difference.
def Goal_diff_count(x,y):
    return x-y

liga['Goal_diff_count']=Goal_diff_count(liga['GoalsFor'].astype(int),liga['GoalsAgainst'].astype(int))
team_max_goal_cnt=liga[liga['Goal_diff_count']==liga['Goal_diff_count'].max()]['Team']
team_min_goal_cnt=liga[liga['Goal_diff_count']==liga['Goal_diff_count'].min()]['Team']
print(team_max_goal_cnt)
print(team_min_goal_cnt)

0    Real Madrid
Name: Team, dtype: object
13    Racing Santander
Name: Team, dtype: object

In [143]:
#Create a new column with name “Winning Percent” and append it to the data set
# fill Nan values resulting from 0/0 with 0
# Print the top 5 teams which has the highest Winning percentage
liga['Winning Percent']=(((liga['GamesWon'].astype(int))*100)/liga['GamesPlayed'].astype(int)).fillna(0)
ligs_sort_win=liga.sort_values('Winning Percent',inplace=False,ascending=False)
print(ligs_sort_win.head(5)['Team'])

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [144]:
# Group teams based on their “Best position” and print the sum of their points for all positions
liga.groupby('BestPosition').sum().sort_values(by='Points',ascending=False)['Points']

BestPosition
1     27933
2      6904
4      6563
3      5221
6      2113
5      1884
7      1186
8      1134
12      511
10      450
11      445
17      266
9        96
16       81
19       81
14       71
20       34
15       14
Name: Points, dtype: int32